
*{
	padding: 0px;
	margin:0px;
}
ul,ol,li{
	list-style: none;
	text-align: center;

}
a{
	text-decoration: none;
	color:#fff;
}
body{
	background-color: #d40606;
}
.top{
	/* border: 1px solid orange; */
	border-top: 3px solid #a20837;
	background-color: #313030;
	border-bottom: 4px solid #beab07;
	height: 60px;
	width: 100%;
}
.logo{
	/* border: 1px solid black; */
	margin: 0px auto;
	width: 200px;
	height: 50px;
	float: left;

}
.character{
	/* border: 1px solid red; */
	width: 1000px;
	height: 60px;
	margin-left: 200px;
	


}
.character div{
    color: white;
	float: left;
	margin-left: 100px;
	width: 130px;
	height: 60px;
	/* border: 1px solid black; */
	text-align: center;
	
}
.character div:hover{
	color: red;
	cursor:pointer;
	border-radius: 5%;
	
}
.character span{
	
	font-size: 20px;
	line-height: 60px;

}

.nav{
	/* border: 1px solid orange; */
	margin: 0px auto;
	width: 1200px;
	height: 60px;	
}
#bigphoto{
	position: relative;
	top: 0px;
}
.body{
	background-color: white;
	border: 1px solid red;
	margin: 0px auto;
	width: 1200px;
	height: 3000px;

}
.carousel{
	background-color: #a20837;
	border: 1px solid blue;
	width: 1200px;
	height: 330px;
}
.carousel .photo{
	border: 1px solid black;
	width: 1800px;
	height: 330px;
	overflow: hidden;


}
.carousel .photo img{
	width: 900px;
	height: 330px;

}
.tail{
	border: 1px solid black;
	border-top: 3px solid black;
	height: 150px;
	width: 100%;
}
.passcard{
	border: 1px solid red;
	height: 150px;
	margin:0px auto;
	width: 1200px;

}
.follow{
	
	height: 300px;
	width: 80px;
	position: fixed;
	right: 0px;
	top: 150px;
}
.cell{
	color: #d40606;
	background-color: white;
	background-color: ;
	border: 1px solid black;
	height: 100px;
	width: 80px;
	text-align: center;
}
.cell img{
	height: 90px;
	width: 80px;

}
.cell p{
	font-size: 10px;

}